@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 91%;
  /* box-sizing: border-box; */
}

body {
  color: #ffffff;
  background-image: url('/main/bg-main.svg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  /* font-family: 'sofiaPro'; */
}